/*#container-form-des {
	top:170px;
	right:10%;
	z-index: 4;
	background-color:rgba(33, 38, 64, .8);
	padding: 10px 15px;
    border-radius: 15px;
}*/

/*#container-form-des .btn-enter span,*/
#container-form-mob .btn-enter span{
	display: block;
	background-color: rgba(227, 30, 36, 1);
	color:#fefefe;
	font-weight: 600;
	text-align: center;
	padding: 3px;
	border-radius: 4px;
	margin-top:25px;
}

/*#container-form-des p a,*/
#container-form-mob p a{
	padding: 3px;
	font-size: .85rem;
	text-decoration: underline!important;
}
/*#container-form-des p a:hover,*/
#container-form-mob p a:hover{
	text-decoration: none!important;
}

/*#container-form-des label, #container-form-des .form-control,*/
#container-form-mob label, #container-form-mob .form-control{
	font-size:.9rem;
}

/*#container-form-des .form-control,*/
#container-form-mob .form-control{
	height: calc(1.2em + .65rem + 2px);
}

/*#container-form-des .title-form,*/
#container-form-mob .title-form{
	font-size: .95rem;
}

/*#container-form-des .pic-pass,
#container-form-des .pic-user,*/
#container-form-mob .pic-pass,
#container-form-mob .pic-user{
    left: 1px;
}

/*#container-form-des .icon-from,*/
#container-form-mob .icon-from{
	width: 20px;
    height: 20px;
    top: 15%;
}

/*#container-form-des .pic-eye,*/
#container-form-mob .pic-eye{
    right: 5px;
    cursor: pointer;
}

/*#container-form-des input,*/
#container-form-mob input{
	padding-left:23px;
}




	/*#container-form-des{
		display: none;
	}*/
	#container-form-mob{
		z-index: 100;
    	right: 0;
    	top: 0;
    	height: 100%;
    	padding: 10px 30px;
    	transition: all .6s ease;
	}

	.btn-close-form{
		right: 5%;
    	top: 20px;
    	cursor: pointer;
	}
	.form-hide{
		visibility: hidden;
		transform: translate(1000px, 0);
	}

	#container-form-mob .form-show{
		visibility: visible;
		transform: translate(0, 0);
	}

	.slide-from-side{
		background: rgba(33,38,64,1);
background: -moz-linear-gradient(-45deg, rgba(33,38,64,1) 0%, rgba(79,86,120,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(33,38,64,1)), color-stop(100%, rgba(79,86,120,1)));
background: -webkit-linear-gradient(-45deg, rgba(33,38,64,1) 0%, rgba(79,86,120,1) 100%);
background: -o-linear-gradient(-45deg, rgba(33,38,64,1) 0%, rgba(79,86,120,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(33,38,64,1) 0%, rgba(79,86,120,1) 100%);
background: linear-gradient(135deg, rgba(33,38,64,1) 0%, rgba(79,86,120,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212640', endColorstr='#4f5678', GradientType=1 );
	}

	
	



@media (max-width: 430px){
	#container-form-mob{
		width:100%;
	}
}



